/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    background-color:  #b2bec3;
    font-family: 'Nunito', sans-serif;
}

header{
    display: block;
}

main{
    display: block;
}

.vizitka{
    width: 550px;
    background-color: white;
    position: relative;
    margin: 150px auto ;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    box-shadow: 2px 2px 2px gray;
}



h1{
    font-size: 36px;
    font-weight: bold;
    color: #d63031;
    margin-top: 0;
}



.p1{
    /* display: block;  již je (zbytečné)*/
    font-size: 18px;
    margin-bottom: 30px;
    /* margin: 0; */
}

.p2{
    /* display: block;  již je (zbytečné)*/
    font-size: 18px;
    margin-bottom: 30px;
    /* margin: 0;*/
} 


.button{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px;
}


.tw {
    background-color:   #1da1f2;
    margin-bottom : 5px;
}

.tw:hover{
    background-color: #0b7bc1;
    color: white;
}




.fb{
    background-color:   #3b5998;
}

.fb:hover{
    background-color: #2b406e;
    color: white;
}

.foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    border: 3px solid white;
    transform: translate(50%, -50%);

}